hbox {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
}
vbox {
  display: -moz-box;
  display: -webkit-box;
  display: box;

  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
